#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 88px;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
    color: #333;
    font-family: sans-serif;
    font-weight: bold;
}

.search-container {
    width: 20%;
    height: 5%;
    background-color: #454e53;
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    color: white
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    flex-grow: 1;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
}

input:focus {
    outline: none;
}