#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 88px;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
    color: #333;
    font-family: sans-serif;
    font-weight: bold;
}

.search-container {
    width: 400px;;
    height: 50px;
    background-color: #454e53;
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    color: white
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search input {
    flex-grow: 1;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
}

input:focus {
    outline: none;
}

.store-list-container {
    position: absolute;
    z-index: 10;
    top: 280px;
    left: 100px;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    background-color: white;
    z-index: 10;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,.87)
}

.store-info-open-status {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0,0,0,.57);
}

.store-info-address, .store-info-phone {
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: #514c4c;
}

.icon {
    background-color: #1985A1;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.store-info-phone a {
    color: #514c4c;
    text-decoration: none;
}

